<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>WSP AUTO</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"/>
      <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="carweb.html">CARNAWA</a>
      <button class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">홈 <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              국산차량검색
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="hyu.html">현대자동차</a>
              <a class="dropdown-item" href="kia.html">기아자동차</a>
              <a class="dropdown-item" href="#">르노삼성</a>
              <a class="dropdown-item" href="#">쉐보레</a>
              <a class="dropdown-item" href="#">쌍용자동차</a>
              <a class="dropdown-item" href="#">제네시스</a>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">모델비교</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">신차 견적내기</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">용어사전</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">뉴스</a>
          </li>
           <li class="nav-item">
            <a class="nav-link" href="http://isweb.joongbu.ac.kr/~leejin/">Link</a>
          </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="search" placeholder="자동차 입력" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">검색</button>
        </form>
      </div>
    </nav>

    <div
      id="carouselExampleIndicators"
      class="carousel slide"
      data-ride="carousel"
    >
      <ol class="carousel-indicators">
        <li
          data-target="#carouselExampleIndicators"
          data-slide-to="0"
          class="active"
        ></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
      </ol>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <center>
            <img class="d-block w-90" src="https://postfiles.pstatic.net/MjAxOTExMDVfMjk5/MDAxNTcyOTYwNDM1MjE3.AmMPskld3uP5siFSxIhPXOUVoQTDs0O38GPntaEV9B0g.dppCPO7jlrj-KSOWMraAzmKDyoaSUYiHpt-ItW1PsWAg.JPEG.optimusgpad/1200%EC%97%90700%EC%82%BC.jpg?type=w773"/>
          </center>
        </div>
        <div class="carousel-item">
          <center>
            <img class="d-block w-90" src="https://postfiles.pstatic.net/MjAxOTExMDVfMjM5/MDAxNTcyOTYwNDM1NTA5.4Gda2mFLfx2KZhiuaWvA7TlZiu2yqmFyORSE6XQI4Ikg.kJyxjSWCghR2HymMFJFRaKjg-HdQiZiAOK4Mb5-2JlYg.PNG.optimusgpad/1200%EC%97%90700%EC%9D%B4.png?type=w773"/>
          </center>
        </div>
        <div class="carousel-item">
          <center>
            <img class="d-block w-90" src="https://postfiles.pstatic.net/MjAxOTExMDVfMTcw/MDAxNTcyOTYwNDM1MzIw.qKKJ88iLbgatkJJLGv62s1pdfs4UKvrOnQc-uNkC0WMg.urt9QDtiKDMaZwTtyxvw-41OkxSkE-v4zxrdrulF_ngg.JPEG.optimusgpad/1200%EC%97%90700%EC%9D%BC.jpg?type=w773">
          </center>
        </div>
        <div class="carousel-item">
          <center>
            <img class="d-block w-90" src="https://postfiles.pstatic.net/MjAxOTExMTVfMjIz/MDAxNTczNzUzNDA0MjEx.n-KLlo35ok9P_qxAPWD6sBxQCZMC7DYwD7_pNaKnlVkg.CaPydD7YRasuPq4sqSuXzVT_NuVe35PYnsRgM3llldsg.JPEG.optimusgpad/26912_85506_4812.jpg?type=w773">
          </center>
        </div>
      <div class="carousel-item">
          <center>
            <img class="d-block w-90" src="https://postfiles.pstatic.net/MjAxOTExMTVfMjM5/MDAxNTczNzUzNDA0MjEw._y5mxI7J_k0f0cfbDPOon0RemOmcNZeFnZWCyweJqJ8g.EmA5o-jhbszxICUk4xI4ypnQYk9S3mJ8eA9PCAiZi6cg.JPEG.optimusgpad/ds.jpg?type=w773">
          </center>
        </div>
      </div>
      <a
        class="carousel-control-prev"
        href="#carouselExampleIndicators"
        role="button"
        data-slide="prev"
      >
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a
        class="carousel-control-next"
        href="#carouselExampleIndicators"
        role="button"
        data-slide="next"
      >
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
    <div class="container">
     <div class="jumbotron">
        <h1 class="display-4">CARNAWA</h1>
        <p class="lead">신차 검색, 모델비교, 신차견적, 맞춤추천은 역시 카나와</p>
        <hr class="my-4">
        <p>▼ CARNAWA사이트 릴리스 노트입니다. 패치노트 개념이며 바뀐내용이 삽입되어 있습니다.</p>
       <a class="btn btn-primary btn-lg" href="rel.html" role="button">Release Note</a>
      </div>
    </div>

    <div class="container">
      <h2 ><b>국산차 인기모델</b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<sub><small>더보기▼</small></sub>&nbsp;&nbsp;
        <b>수입차 인기모델</b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<sub><small>더보기▼</small></sub></h2>
    </div>

    <center>
      <a href="http://auto.danawa.com/newcar/" target="_blank">
        <img src="http://isweb.joongbu.ac.kr/~leejin/img/dana.PNG"></a>
    </center>

    <br>

      <div class="alert alert-primary" role="alert">
          Reference Site : <a href="https://getbootstrap.com/" class="alert-link">Bootstrap</a>
        </div>
        <div class="alert alert-success" role="alert">
          Reference Site : <a href="https://auto.naver.com/" class="alert-link">Naver 자동차</a>
        </div>
        <div class="alert alert-danger" role="alert">
          Reference Site : <a href="https://auto.daum.net/" class="alert-link">Daum 자동차</a>
        </div>
        <div class="alert alert-warning" role="alert">
          Reference Site : <a href="http://auto.danawa.com/" class="alert-link">Danawa 자동차</a>
        </div>
        <div class="alert alert-info" role="alert">
          Reference Site : <a href="https://www.google.co.kr" class="alert-link">구글</a>
        </div>

    <button type="button" onclick="location.href='https://www.hyundai.com/kr/ko'" class="btn btn-primary"><b>#HYUNDAI</b></button>
    <button type="button" onclick="location.href='https://www.kia.com/kr/main.html'" class="btn btn-danger"><b>#KIA</b></button>
    <button type="button" onclick="location.href='https://www.renaultsamsungm.com/2017/main/main.jsp'" class="btn btn-success"><b>#RENAULT</b></button>
    <button type="button" onclick="location.href='https://www.chevrolet.co.kr/'" class="btn btn-warning"><b>#CHEVROLET</b></button>
    <button type="button" onclick="location.href='http://www.smotor.com/kr/index.html'" class="btn btn-info"><b>#SSANGYONG</b></button>
    <button type="button" onclick="location.href='https://www.genesis.com/kr/ko/genesis.html'" class="btn btn-secondary"><b>#GENESIS</b></button>

        <center><b>&copy; Copyright 2019 - 중부대학교 소프트웨어공학부 WSP</b></center>

        <script
        src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"
      ></script>
      <script
        src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"
      ></script>
      <script
        src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"
      ></script>
  </body>
</html>
